@import url('reset.css');

#outer-wrapper {
  width:1280px;
  height:800px;
  margin: 0 auto;
  border:1px solid black; 
  display:flex;
  flex-flow:row wrap;
  padding:10px;
  align-content: center;
 
  
}

#vs {
  width:200px;
  height:300px; 
  border:1px solid black;
  padding:10px;
  align-self:center;
}

.movie-poster{
  width:400px;
  height:685px;
  border:1px solid black;
  margin:20px;
  padding:10px;
  flex-grow:1;

 
  
  
}

img{
  margin:40px auto;
  display: block;
  
}

#Generate{
  width:200px;
  height:50px;
  border-radius:20px;
  background-color:blue;
  line-height:50px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  line-height:50px;
  font-family:helvetica;
  font-size:25px;
  font weight:600;
  cursor:pointer;
  margin:0 auto;
  align-self:center;
  

}